.hamburguer {
  width: 25px;
  height: 4px;
  background-color: #fff;
  border-radius: 25px;
  display: none;
  position: relative;
  transition: 0.1s linear;
  margin-left: 20px;
}
.hamburguer:before,
.hamburguer:after {
  background: #fff;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  position: absolute;
  transition: 0.2s linear;
}
.hamburguer:before {
  top: -8px;
}
.hamburguer:after {
  bottom: -8px;
}

.hamburguer.active {
  background: #000;
}
.hamburguer.active:before {
  transform: translateY(8px) rotate(52deg);
}

.hamburguer.active:after {
  transform: translateY(-8px) rotate(-52deg);
}

.menu {
  background: #000;
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
}
.menuList {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  height: 40px;
}
.listItem {
  list-style: none;
}
.listItem > a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin: 5px 10px;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 767px) {
  .hamburguer {
    display: block;
  }

  .menu {
    background: #000;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
    overflow: hidden;
  }

  .menuList {
    display: flex;
    width: 100vw;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 40px;
    right: 100%;
    background: #000;
    height: auto;
    transition: 0.2s linear;
    opacity: 0;
  }
  .menuList.active {
    right: 0;
    opacity: 1;
  }

  .listItem {
    list-style: none;
  }
  .listItem > a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 5px 10px;
    font-family: "Roboto", sans-serif;
  }
}
